extends ../layout

block content
  section
    h1 Create new User
    br
    form(method="POST",action="/user/edit/#{value._id}",form="role")
      input(type="hidden" name="_method" value="put")  
      br
      br
      Label Nome: 
      input(type="text", name="nome",value="#{value.nome}")
      br
      br
      Label Email: 
      input(type="text", name="email",value="#{value.email}")
      br
      br  
      input(type="submit",class="btn", value="Update")
    br
    br
    a(href='/user',class='btn') Back


